certifi==2024.6.2
charset-normalizer==3.1.0
dynaconf==3.2.5
idna==3.4
praw==7.7.1
prawcore==2.4.0
prompt-toolkit==3.0.38
python-dateutil==2.8.2
pytz==2023.3
questionary==1.10.0
requests==2.31.0
schedule==1.2.2
six==1.16.0
tomlkit==0.11.8
update-checker==0.18.0
urllib3==2.2.1
wcwidth==0.2.6
websocket-client==1.8.0
pandas~=2.2.2